In [1]:
#imports
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ufc_fighters_statistics2024.csv')
dfAlt = pd.read_csv('alt_fighter_stats2024.csv')

df.head()

,name,nickname,wins,losses,draws,height,weight,reach,stance,dOB,sig_strikes_landed_per_min,sig_striking_accuracy_%,sig_strike_absorbed_per_min,sig_strike_defense(%_of_sig_strikes_not_landed_by_opponent),takedown_average(average_takedown_landed_per_fifteen_min),takedown_accuracy_%,takedown_defense(%_of_opponent_takedown_not_landed),sub_average(average_subs_attempted_per_15_mins)
0,Tom Aaron,NaN,5,3,0,--,155 lbs.,--,NaN,13-Jul-78,0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,The Assassin,4,6,0,"5' 11""",155 lbs.,--,Orthodox,3-Jul-83,3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,Bayraktar,28,4,0,"5' 8""",155 lbs.,"66""",Orthodox,1-Feb-94,3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,David Abbott,Tank,10,15,0,"6' 0""",265 lbs.,--,Switch,--,1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,The Hammer,5,0,0 (1 NC),"6' 2""",264 lbs.,"72""",Southpaw,22-Jan-93,3.87,52%,3.13,59%,3.00,75%,0%,0.0

In [3]:
dfAlt.head()

,name,nickname,wins,losses,draws,height,reach,age,nation,sig_str_accuracy,...,takedown_accuracy,takedown_totals,sig_str_per_minute,takedown_avg_per_fifteen,sig_str_defense,knockdown_avg,sig_str_absorbed_per_min,submission_avg_per_fifteen,takedown_defense,avg_fight_time
0,Danny Abbadi,"""The Assassin""",2.0,2.0,0.0,71.0,NaN,39.0,"Orlando, United States",38%,...,NaN,NaN,3.29,0.00,58%,0.00,4.41,0.00,78%,8:58
1,Nariman Abbassov,NaN,0.0,1.0,0.0,NaN,NaN,29.0,Kazakhstan,20%,...,0%,NaN,3.00,0.00,46%,0.00,5.67,0.00,67%,15:00
2,Tank Abbott,"""Tank""",8.0,10.0,0.0,72.0,NaN,NaN,"Huntington Beach, United States",39%,...,NaN,NaN,2.41,0.00,38%,0.00,10.03,0.00,67%,1:40
3,Hamdy Abdelwahab,"""The Hammer""",5.0,0.0,0.0,74.0,72.0,30.0,Egypt,53%,...,75%,3 of 4,3.87,3.00,59%,1.00,3.13,0.00,NaN,15:00
4,Shamil Abdurakhimov,"""Abrek""",20.0,8.0,0.0,75.0,76.0,41.0,"Dagestan Republic, Russia",44%,...,23%,5 of 30,2.41,1.01,55%,0.29,3.02,0.14,45%,9:27

In [4]:
print(len(df))
print(len(dfAlt))

4112
2713

In [5]:
#clean nicknames in dfAlt
dfAlt['nickname'] = dfAlt['nickname'].str.replace('"', '')

In [6]:
#giving nans characters so dups with nans for nickname cannot match
df['nickname'].fillna('!', inplace=True)
dfAlt['nickname'].fillna('~', inplace=True)

/var/folders/pw/f4_6q0l977bcqprlylly2d1w0000gq/T/ipykernel_1048/1396102374.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['nickname'].fillna('!', inplace=True)
/var/folders/pw/f4_6q0l977bcqprlylly2d1w0000gq/T/ipykernel_1048/1396102374.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfAlt['nickname'].fillna('~', inplace=True)

In [7]:
df.head()

,name,nickname,wins,losses,draws,height,weight,reach,stance,dOB,sig_strikes_landed_per_min,sig_striking_accuracy_%,sig_strike_absorbed_per_min,sig_strike_defense(%_of_sig_strikes_not_landed_by_opponent),takedown_average(average_takedown_landed_per_fifteen_min),takedown_accuracy_%,takedown_defense(%_of_opponent_takedown_not_landed),sub_average(average_subs_attempted_per_15_mins)
0,Tom Aaron,!,5,3,0,--,155 lbs.,--,NaN,13-Jul-78,0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Danny Abbadi,The Assassin,4,6,0,"5' 11""",155 lbs.,--,Orthodox,3-Jul-83,3.29,38%,4.41,57%,0.00,0%,77%,0.0
2,Nariman Abbasov,Bayraktar,28,4,0,"5' 8""",155 lbs.,"66""",Orthodox,1-Feb-94,3.00,20%,5.67,46%,0.00,0%,66%,0.0
3,David Abbott,Tank,10,15,0,"6' 0""",265 lbs.,--,Switch,--,1.35,30%,3.55,38%,1.07,33%,66%,0.0
4,Hamdy Abdelwahab,The Hammer,5,0,0 (1 NC),"6' 2""",264 lbs.,"72""",Southpaw,22-Jan-93,3.87,52%,3.13,59%,3.00,75%,0%,0.0

In [10]:
#find special characters in df
names = (df['name'].values)
nicknames = (df['nickname'].values)

chars2rep = []
for name in names:
    if(isinstance(name, str)):
        for char in name:
            if char.lower() not in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', ' ']:
                chars2rep.append(char)
            if char.upper() not in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', "Q", 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', ' ']:
                chars2rep.append(char)
for nickname in nicknames:
    if(isinstance(nickname, str)):
        for char in nickname:
            if char.lower() not in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', ' ']:
                chars2rep.append(char)
            if char.upper() not in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', "Q", 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', ' ']:
                chars2rep.append(char)


chars2rep = list(set(chars2rep))
for char in chars2rep:
    print(char)

!

In [9]:
#clean name, nickname
for index, row in df.iterrows():
    name = row['name']
    nickname = row['nickname']
    if(isinstance(name, str)):
        cleanName = name.replace('?', '').replace('4', '').replace('9', '').replace('0', '').replace('5', '').replace('7', '').replace('1', '').replace(',', '').replace('3', '').replace('%', '').replace("'", '').replace('-', '').replace('2', '').replace('.', '')
        df.loc[index, 'name'] = cleanName
    if(isinstance(nickname, str)):
        cleanNickname = nickname.replace('?', '').replace('4', '').replace('9', '').replace('0', '').replace('5', '').replace('7', '').replace('1', '').replace(',', '').replace('3', '').replace('%', '').replace("'", '').replace('-', '').replace('2', '').replace('.', '')
        df.loc[index, 'nickname'] = cleanNickname

In [14]:
#find special characters in df
names = (dfAlt['name'].values)
nicknames = (dfAlt['nickname'].values)

chars2rep = []
for name in names:
    if(isinstance(name, str)):
        for char in name:
            if char.lower() not in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', ' ']:
                chars2rep.append(char)
            if char.upper() not in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', "Q", 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', ' ']:
                chars2rep.append(char)
for nickname in nicknames:
    if(isinstance(nickname, str)):
        for char in nickname:
            if char.lower() not in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', ' ']:
                chars2rep.append(char)
            if char.upper() not in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', "Q", 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', ' ']:
                chars2rep.append(char)


chars2rep = list(set(chars2rep))
for char in chars2rep:
    print(char)

~

In [13]:
#clean name, nickname
for index, row in dfAlt.iterrows():
    name = row['name']
    nickname = row['nickname']
    if(isinstance(name, str)):
        cleanName = name.replace('2', '').replace('(', '').replace('3', '').replace('ú', 'u').replace('ç', 'c').replace('Á', 'A').replace('7', '').replace('í', 'i').replace('0', '').replace('ě', 'e').replace('4', '').replace("'", '').replace('%', '').replace('"', '').replace('á', 'a').replace(',', '').replace('ć', 'c').replace('ñ', 'n').replace(')', '').replace('ł', 'l').replace('-', '').replace('8', '').replace('ê', 'e').replace('1', '').replace('ę', 'e').replace('5', '').replace('š', '').replace('”', '').replace('ř', 'r').replace('î', 'i').replace('ö', '').replace('ã', 'a').replace('ň', 'n').replace('é', 'e').replace('.', '').replace('“', '')
        dfAlt.loc[index, 'name'] = cleanName
    if(isinstance(nickname, str)):
        cleanNickname = nickname.replace('2', '').replace('(', '').replace('3', '').replace('ú', 'u').replace('ç', 'c').replace('Á', 'A').replace('7', '').replace('í', 'i').replace('0', '').replace('ě', 'e').replace('4', '').replace("'", '').replace('%', '').replace('"', '').replace('á', 'a').replace(',', '').replace('ć', 'c').replace('ñ', 'n').replace(')', '').replace('ł', 'l').replace('-', '').replace('8', '').replace('ê', 'e').replace('1', '').replace('ę', 'e').replace('5', '').replace('š', '').replace('”', '').replace('ř', 'r').replace('î', 'i').replace('ö', '').replace('ã', 'a').replace('ň', 'n').replace('é', 'e').replace('.', '').replace('“', '')
        dfAlt.loc[index, 'nickname'] = cleanNickname

for char in chars2rep:
    for index, row in dfAlt.iterrows():
        name = row['name']
        nickname = row['nickname']
        if(char != '~'):
            if(isinstance(name, str)):
                cleanName = name.replace(char, '')
                dfAlt.loc[index, 'name'] = cleanName
            if(isinstance(nickname, str)):
                cleanNickname = nickname.replace(char, '')
                dfAlt.loc[index, 'nickname'] = cleanNickname

In [15]:
df.iloc[1315:]

,name,nickname,wins,losses,draws,height,weight,reach,stance,dOB,sig_strikes_landed_per_min,sig_striking_accuracy_%,sig_strike_absorbed_per_min,sig_strike_defense(%_of_sig_strikes_not_landed_by_opponent),takedown_average(average_takedown_landed_per_fifteen_min),takedown_accuracy_%,takedown_defense(%_of_opponent_takedown_not_landed),sub_average(average_subs_attempted_per_15_mins)
1315,Akihiro Gono,!,35,21,8,"5' 7""",170 lbs.,"68""",Switch,7-Oct-74,2.18,48%,2.67,63%,1.01,84%,46%,0.5
1316,Gabriel Gonzaga,Napao,17,11,0,"6' 2""",242 lbs.,"76""",Orthodox,18-May-79,2.12,45%,2.94,57%,2.80,39%,66%,1.1
1317,Justin Gonzales,JTrain,6,0,0,"5' 9""",145 lbs.,"72""",Orthodox,28-Apr-91,6.67,80%,0.87,43%,14.00,73%,100%,0.0
1318,Fernando Gonzalez,The Menifee Maniac,26,14,0,"5' 9""",170 lbs.,"68""",Southpaw,15-Sep-83,4.47,47%,4.03,65%,0.86,33%,43%,1.4
1319,Nick Gonzalez,The Ghost,17,12,0 (1 NC),"5' 6""",155 lbs.,--,Orthodox,3-Mar-81,0.59,20%,2.35,33%,0.00,0%,50%,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4107,Dave Zitanick,!,5,7,0 (1 NC),--,170 lbs.,--,NaN,5-Mar-80,0.00,0%,0.00,0%,0.00,0%,0%,0.0
4108,Alex Zuniga,!,6,3,0,--,145 lbs.,--,NaN,--,0.00,0%,0.00,0%,0.00,0%,0%,0.0
4109,George Zuniga,!,3,1,0,"5' 9""",185 lbs.,--,NaN,--,7.64,38%,5.45,37%,0.00,0%,100%,0.0
4110,Allan Zuniga,Tigre,13,1,0,"5' 7""",155 lbs.,"70""",Orthodox,4-Apr-92,3.93,52%,1.80,61%,0.00,0%,57%,1.0
4111,Virgil Zwicker,RezDog,15,6,1,"6' 2""",205 lbs.,"74""",NaN,26-Jun-82,3.34,48%,4.87,39%,1.31,30%,50%,0.0

In [16]:
dfAlt.iloc[945:]

,name,nickname,wins,losses,draws,height,reach,age,nation,sig_str_accuracy,...,takedown_accuracy,takedown_totals,sig_str_per_minute,takedown_avg_per_fifteen,sig_str_defense,knockdown_avg,sig_str_absorbed_per_min,submission_avg_per_fifteen,takedown_defense,avg_fight_time
945,Akihiro Gono,The Japanese Sensation,28.0,14.0,7.0,69.0,NaN,48.0,United States,53%,...,80%,NaN,2.35,1.57,64%,0.39,11.35,0.39,46%,12:46
946,Gabriel Gonzaga,Napao,17.0,11.0,0.0,74.0,76.0,44.0,"Rio De Janeiro, Brazil",45%,...,39%,NaN,2.12,2.80,57%,0.70,2.94,1.10,67%,6:31
947,Justin Gonzales,JTrain,9.0,0.0,0.0,69.0,NaN,32.0,"Denver, United States",80%,...,74%,NaN,6.67,14.00,43%,0.00,0.87,0.00,100%,15:00
948,Pearl Gonzalez,~,6.0,2.0,0.0,64.5,68.0,36.0,"Chicago, United States",38%,...,11%,2 of 18,2.23,1.04,57%,0.00,4.07,0.52,NaN,14:23
949,Jason Gonzalez,Nicoya,11.0,5.0,0.0,74.0,74.0,33.0,"Torrance, United States",40%,...,NaN,NaN,3.06,0.00,59%,0.00,3.13,1.00,30%,3:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2708,Yi Zha,~,23.0,4.0,0.0,67.0,70.5,26.0,"Aba Sichuan, China",43%,...,35%,5 of 46,2.74,4.83,52%,0.00,2.15,1.21,62%,9:56
2709,Tiequan Zhang,The Wolf,18.0,4.0,0.0,68.0,NaN,44.0,"Nei, Mongolia",36%,...,58%,2 of 12,1.23,1.95,52%,0.00,2.14,3.35,75%,8:58
2710,Zhang Weili,Magnum,24.0,3.0,0.0,64.0,63.0,34.0,"Hebei, China",52%,...,42%,1 of 45,5.94,2.29,54%,0.36,3.44,0.36,67%,12:25
2711,Daermisi Zhawupasi,~,1.0,1.0,0.0,NaN,NaN,23.0,China,0%,...,NaN,NaN,0.00,0.00,100%,0.00,0.00,15.52,NaN,7:17
2712,Dariya Zheleznykova,~,0.0,0.0,0.0,NaN,NaN,27.0,NaN,0%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0:00

In [17]:
#assign nicknames for matching names found within dataframes
count = 1
for index, row in df.iterrows():
    name = row['name']
    nickname = row['nickname']
    dup_check = df.loc[df['name'] == name]
    dup_check2 = dfAlt.loc[dfAlt['name'] == name]
    if(len(dup_check == 1) and len(dup_check2) == 1):
        try:
            altIndex = dfAlt.loc[dfAlt['name'] == name].index[0]
            altNickname = dfAlt.loc[altIndex, 'nickname']
            if(nickname != altNickname):
                if(nickname == '!' and altNickname == '~'):
                    df.loc[index, 'nickname'] = str(count)
                    dfAlt.loc[altIndex, 'nickname'] = str(count)
                    count+=1
                elif(nickname != '!'):
                    dfAlt.loc[altIndex, 'nickname'] = nickname
                elif(altNickname != '~'):
                    df.loc[index, 'nickname'] = altNickname
        except:
            pass

In [19]:
#outer merge the dfs
dfMerged = pd.merge(df, dfAlt, on=['name', 'nickname'], how='outer', indicator=True)
dfMerged.head()

,name,nickname,wins_x,losses_x,draws_x,height_x,weight,reach_x,stance,dOB,...,takedown_totals,sig_str_per_minute,takedown_avg_per_fifteen,sig_str_defense,knockdown_avg,sig_str_absorbed_per_min,submission_avg_per_fifteen,takedown_defense,avg_fight_time,_merge
0,AJ Cunningham,The Savage,10.0,3.0,0,"5' 10""",145 lbs.,"71""",Orthodox,7-Sep-94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,AJ Dobson,180,7.0,2.0,0 (1 NC),"6' 1""",185 lbs.,"76""",Orthodox,18-Jan-92,...,NaN,4.38,1.82,47%,0.30,5.25,0.30,65%,12:20,both
2,AJ Fletcher,The Ghost,10.0,3.0,0,"5' 10""",170 lbs.,"67""",Switch,18-Feb-97,...,4 of 14,3.36,1.54,47%,0.31,4.61,0.93,33%,9:43,both
3,AJ Fonseca,!,5.0,4.0,0,"5' 4""",145 lbs.,--,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AJ Matthews,!,8.0,7.0,0,"5' 11""",185 lbs.,--,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [20]:
len(dfMerged)

4302

In [21]:
#query dfMerged for intersections
dfMatches = pd.DataFrame(dfMerged.query('_merge == "both"'))
dfMatches.head()

,name,nickname,wins_x,losses_x,draws_x,height_x,weight,reach_x,stance,dOB,...,takedown_totals,sig_str_per_minute,takedown_avg_per_fifteen,sig_str_defense,knockdown_avg,sig_str_absorbed_per_min,submission_avg_per_fifteen,takedown_defense,avg_fight_time,_merge
1,AJ Dobson,180,7.0,2.0,0 (1 NC),"6' 1""",185 lbs.,"76""",Orthodox,18-Jan-92,...,NaN,4.38,1.82,47%,0.30,5.25,0.30,65%,12:20,both
2,AJ Fletcher,The Ghost,10.0,3.0,0,"5' 10""",170 lbs.,"67""",Switch,18-Feb-97,...,4 of 14,3.36,1.54,47%,0.31,4.61,0.93,33%,9:43,both
7,Aalon Cruz,146,8.0,4.0,0,"6' 0""",145 lbs.,"78""",Switch,20-Sep-89,...,NaN,7.58,0.00,59%,0.85,8.88,0.00,NaN,5:54,both
8,Aaron Brink,95,26.0,26.0,0 (2 NC),"6' 3""",205 lbs.,--,Orthodox,12-Nov-74,...,NaN,0.00,0.00,57%,0.00,19.64,0.00,NaN,0:55,both
10,Aaron Jeffery,345,10.0,3.0,0,"6' 2""",185 lbs.,"73""",Orthodox,14-Nov-92,...,NaN,3.10,0.00,34%,0.00,4.46,0.00,50%,9:12,both

In [22]:
print(len(dfMatches))

2525

In [23]:
#query dfMerged for symmetric difference
notMatched = pd.DataFrame(dfMerged.query('_merge != "both"'))
notMatched.head()

,name,nickname,wins_x,losses_x,draws_x,height_x,weight,reach_x,stance,dOB,...,takedown_totals,sig_str_per_minute,takedown_avg_per_fifteen,sig_str_defense,knockdown_avg,sig_str_absorbed_per_min,submission_avg_per_fifteen,takedown_defense,avg_fight_time,_merge
0,AJ Cunningham,The Savage,10.0,3.0,0,"5' 10""",145 lbs.,"71""",Orthodox,7-Sep-94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,AJ Fonseca,!,5.0,4.0,0,"5' 4""",145 lbs.,--,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,AJ Matthews,!,8.0,7.0,0,"5' 11""",185 lbs.,--,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,AJ McKee,Mercenary,8.0,0.0,0,"5' 10""",145 lbs.,--,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,AJ Siscoe,Lets Go,1.0,2.0,0,"5' 7""",135 lbs.,--,NaN,--,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [24]:
#find the nonMatched items from dfAlt
dfAltNoMatch = pd.merge(notMatched, dfAlt, on=['name', 'nickname'], how='inner')
print(len(dfAltNoMatch))

192

In [25]:
#find the nonMatched items from df
dfNoMatch = pd.merge(notMatched, df, on=['name', 'nickname'], how='inner')
print(len(dfNoMatch))

1587

In [26]:
#writing non matched instances of both dfs to csv for manual analysis
dfNoMatch.to_csv('SymmetricDifferenceFighterStats.csv', index=False)
dfAltNoMatch.to_csv('SymmetricDifferenceAlt.csv', index=False)

In [27]:
result_df = df.loc[df['name'] == 'Azunna Anyanwu']
result_df.head()

,name,nickname,wins,losses,draws,height,weight,reach,stance,dOB,sig_strikes_landed_per_min,sig_striking_accuracy_%,sig_strike_absorbed_per_min,sig_strike_defense(%_of_sig_strikes_not_landed_by_opponent),takedown_average(average_takedown_landed_per_fifteen_min),takedown_accuracy_%,takedown_defense(%_of_opponent_takedown_not_landed),sub_average(average_subs_attempted_per_15_mins)
147,Azunna Anyanwu,Zulu,14,5,0,"6' 1""",251 lbs.,--,Orthodox,5-Aug-81,2.47,42%,2.47,69%,0.65,100%,0%,0.0

In [28]:
result_df2 = dfAlt.loc[dfAlt['name'] == 'Azunna Anyanwu']
result_df2.head()

Empty DataFrame
Columns: [name, nickname, wins, losses, draws, height, reach, age, nation, sig_str_accuracy, sig_str_totals, takedown_accuracy, takedown_totals, sig_str_per_minute, takedown_avg_per_fifteen, sig_str_defense, knockdown_avg, sig_str_absorbed_per_min, submission_avg_per_fifteen, takedown_defense, avg_fight_time]
Index: []

[0 rows x 21 columns]

In [29]:
#fixing inconsistencies to allow intersection query to find more matches
dfAlt.at[117, 'name'] = 'Azunna Anyanwu'
dfAlt.at[117, 'nickname'] = 'Zulu'

df.at[3029, 'name'] = 'Zachary Reese'

dfAlt.at[298, 'name'] = 'Zachary Borrego'
dfAlt.at[298, 'nickname'] = 'The Dragon'

dfAlt.at[2708, 'name'] = 'Yizha'
dfAlt.at[2708, 'nickname'] = '5030'
df.at[4057, 'nickname'] = '5030'

dfAlt.at[360, 'name'] = 'Wulijiburen'

dfAlt.at[1732, 'name'] = 'Wendell Oliveira Marques'
dfAlt.at[1732, 'nickname'] = 'The Machine'

dfAlt.at[2094, 'name'] = 'Sai Wang'

df.at[3917, 'name'] = 'Wang Anying'
df.at[3917, 'nickname'] = 'Smiley'

dfAlt.at[619, 'nickname'] = 'Lok Dog'
df.at[2715, 'name'] = 'Vinicius de Oliveira'

dfAlt.at[1947, 'name'] = 'Vernon Ramos Ho'
dfAlt.at[1947, 'nickname'] = '5029'
df.at[3004, 'nickname'] = '5029'

dfAlt.at[1696, 'name'] = 'Uros Medic'

dfAlt.at[2155, 'name'] = 'Yuta Sasaki'
dfAlt.at[2155, 'nickname'] = 'Ulka'

dfAlt.at[1382, 'name'] = 'Tsuyoshi Kohsaka'

dfAlt.at[2709, 'name'] = 'Zhang Tiequan'

dfAlt.at[2462, 'name'] = 'Tiago dos Santos e Silva'
dfAlt.at[2462, 'nickname'] = 'Trator'

dfAlt.at[2, 'name'] = 'David Abbott'

df.at[1855, 'name'] = 'Steven Kennedy'

dfAlt.at[1961, 'name'] = 'Stephen Regman'
df.at[3030, 'nickname'] = 'The Predator'

dfAlt.at[626, 'name'] = 'Shane del Rosario'
dfAlt.at[626, 'nickname'] = '5028'
df.at[851, 'nickname'] = '5028'

dfAlt.at[467, 'name'] = 'SeungWoo Choi'

df.at[1444, 'name'] = 'Seohee Ham'
df.at[1444, 'nickname'] = '5027'
dfAlt.at[1043, 'nickname'] = '5027'

dfAlt.at[1351, 'name'] = 'SangWon Kim'
dfAlt.at[1351, 'nickname'] = 'No Problem'

dfAlt.at[2689, 'name'] = 'SangHoon Yoo'
dfAlt.at[2689, 'nickname'] = 'Assassin'

dfAlt.at[1679, 'name'] = 'Ryan McGillivray'

dfAlt.at[2051, 'name'] = 'Rongzhu'
dfAlt.at[2051, 'nickname'] = '5026'
df.at[3156, 'nickname'] = '5026'

df.at[3523, 'name'] = 'Ronaldo Souza'
df.at[3523, 'nickname'] = 'Jacare'

dfAlt.at[2077, 'name'] = 'Rodolfo Rubio Perez'

df.at[3249, 'name'] = 'Roberto Sanchez'

df.at[2851, 'name'] = 'Robbie Peralta'

dfAlt.at[2621, 'name'] = 'Robert Whiteford'

dfAlt.at[709, 'name'] = 'Rilley Dutro'
dfAlt.at[709, 'nickname'] = '5025'
df.at[970, 'nickname'] = '5025'

dfAlt.at[1772, 'name'] = 'Ricky Palacios'

df.at[759, 'name'] = 'Richard Crunkilton Jr'

dfAlt.at[2589, 'name'] = 'Richard Walsh'
dfAlt.at[2589, 'nickname'] = 'Filthy Rich'

dfAlt.at[519, 'name'] = 'Reyes Cortez Jr'
dfAlt.at[519, 'nickname'] = '5024'
df.at[719, 'nickname'] = '5024'

df.at[2871, 'name'] = 'Raphael Pessoa Nunes'

dfAlt.at[1206, 'name'] = 'Quinton Jackson'
dfAlt.at[1206, 'nickname'] = 'Rampage'

dfAlt.at[2288, 'name'] = 'Rameau Thierry Sokoudjou'

dfAlt.at[2676, 'name'] = 'Yan Qihui'
dfAlt.at[2676, 'nickname'] = 'Queen Kong'

dfAlt.at[610, 'name'] = 'Philip De Fries'
dfAlt.at[610, 'nickname'] = '5023'
df.at[834, 'nickname'] = '5023'

df.at[3037, 'name'] = 'Paulo Renato Jr'
df.at[3037, 'nickname'] = '5022'
dfAlt.at[1966, 'nickname'] = '5022'

df.at[1730, 'name'] = 'Niushiyue Ji'
dfAlt.at[1237, 'nickname'] = 'Little King Kong'

df.at[2640, 'name'] = 'Ning Guangyou'
dfAlt.at[1010, 'nickname'] = 'Smasher'

df.at[2, 'name'] = 'Nariman Abbassov'
dfAlt.at[1, 'nickname'] = 'Bayraktar'

df.at[38, 'name'] = 'Mostapha Al Turk'
dfAlt.at[29, 'nickname'] = '5021'
df.at[38, 'nickname'] = '5021'

dfAlt.at[2081, 'name'] = 'Montserrat Conejo Ruiz'
dfAlt.at[2081, 'nickname'] = '5020'
df.at[3195, 'nickname'] = '5020'


dfAlt.at[545, 'name'] = 'Mirko Filipovic'
dfAlt.at[545, 'nickname'] = 'Cro Cop'

df.at[3816, 'name'] = 'Mike Van Arsdale'
df.at[3816, 'nickname'] = '5019'
dfAlt.at[2516, 'nickname'] = '5019'

df.at[838, 'name'] = 'Mike De La Torre'

df.at[3733, 'name'] = 'Miguel Angel Torres'
df.at[3733, 'nickname'] = '5018'
dfAlt.at[2453, 'nickname'] = '5018'


dfAlt.at[1001, 'name'] = 'Maxim Grishin'

df.at[3111, 'name'] = 'Mark David Robinson'

dfAlt.at[2057, 'name'] = 'Marcos Mariano'

df.at[693, 'name'] = 'Marcos Conrado Junior'
df.at[693, 'nickname'] = '5017'
dfAlt.at[504, 'nickname'] = '5017'

df.at[66, 'name'] = 'Marcio Alexandre'

dfAlt.at[881, 'name'] = 'Manvel Gamburyan'

dfAlt.at[284, 'name'] = 'Mandy Bohm'

df.at[111, 'name'] = 'Maiara Amajanas Dos Santos'
df.at[111, 'nickname'] = '5016'
dfAlt.at[677, 'nickname'] = '5016'

df.at[332, 'name'] = 'Magomed Bibulatov'

df.at[3608, 'name'] = 'Lukasz Sudolski'
df.at[3608, 'nickname'] = '5015'
dfAlt.at[2374, 'nickname'] = '5015'

df.at[1230, 'name'] = 'Luiz Garagorri'
df.at[1230, 'nickname'] = '5014'
dfAlt.at[888, 'nickname'] = '5014'

df.at[1808, 'name'] = 'Li Kaiwen'
dfAlt.at[1298, 'nickname'] = 'The Underdog'

dfAlt.at[618, 'name'] = 'Leonardo Silva de Oliveira'
dfAlt.at[618, 'nickname'] = 'Cabecao'

dfAlt.at[157, 'name'] = 'Leonardo Guimaraes'
dfAlt.at[157, 'nickname'] = 'Leleco'

dfAlt.at[1354, 'name'] = 'KyeungPyo Kim'
dfAlt.at[1354, 'nickname'] = 'Redhorse'

dfAlt.at[2265, 'name'] = 'Kevin Ferguson'
dfAlt.at[2265, 'nickname'] = 'Kimbo Slice'

df.at[328, 'name'] = 'Khadzhimurat Bestaev'
dfAlt.at[251, 'nickname'] = 'Best'

dfAlt.at[2311, 'name'] = 'Edimilson Souza'
dfAlt.at[2311, 'nickname'] = 'Kevin'

df.at[755, 'name'] = 'Kenneth Cross'
dfAlt.at[549, 'nickname'] = 'The Boss'

dfAlt.at[863, 'name'] = 'Katsuhisa Fujii'
dfAlt.at[863, 'nickname'] = 'Shamoji'

df.at[608, 'name'] = 'Katlyn Chookagian'

dfAlt.at[1787, 'name'] = 'JunYong Park'

df.at[1531, 'name'] = 'Junior Hernandez'
df.at[1531, 'nickname'] = 'Hot Handed'

dfAlt.at[1919, 'name'] = 'Juan Manuel Puig'

df.at[3554, 'name'] = 'Joshua Stansbury'

df.at[3392, 'name'] = 'Josh Schockman'

dfAlt.at[1937, 'name'] = 'Josh Rafferty'
dfAlt.at[1937, 'nickname'] = '5013'
df.at[2986, 'nickname'] = '5013'

df.at[2143, 'name'] = 'Joseph Lowry'
df.at[2143, 'nickname'] = '5012'
dfAlt.at[1534, 'nickname'] = '5012'

dfAlt.at[733, 'name'] = 'Jon Olav Einemo'

dfAlt.at[919, 'name'] = 'Joseph Gigliotti'

df.at[3909, 'name'] = 'Jimmy Wallhead'

df.at[843, 'name'] = 'Isabela De Padua'

df.at[789, 'name'] = 'Igor da Silva'
df.at[789, 'nickname'] = '5011'
dfAlt.at[577, 'nickname'] = '5011'

df.at[1243, 'name'] = 'Ian Machado Garry'

dfAlt.at[337, 'name'] = 'Humberto Brown Morrison'
df.at[456, 'nickname'] = 'El Gato Negro'

df.at[658, 'name'] = 'Heather Jo Clark'

dfAlt.at[846, 'name'] = 'Glaico Franca Moreira'

df.at[833, 'name'] = 'Geraldo de Freitas Jr'

df.at[2097, 'name'] = 'Freddy Emiliano Linares'
dfAlt.at[749, 'nickname'] = 'Golden Bull'

df.at[1806, 'name'] = 'Emily Peters Kagan'
df.at[1806, 'nickname'] = '5010'
dfAlt.at[1849, 'nickname'] = '5010'

dfAlt.at[639, 'name'] = 'Edwin DeWees'

dfAlt.at[1649, 'name'] = 'Eduardo Torres Caut'
dfAlt.at[1649, 'nickname'] = 'Cyborg'

dfAlt.at[546, 'name'] = 'Edilberto de Oliveira'
dfAlt.at[546, 'nickname'] = 'Crocota'

dfAlt.at[313, 'name'] = 'Ebenezer Fontes Braga'
dfAlt.at[313, 'nickname'] = 'Pitbull'

dfAlt.at[2446, 'name'] = 'Dusko Todorovic'

df.at[589, 'name'] = 'Duane Cason'
dfAlt.at[431, 'nickname'] = '5009'
df.at[589, 'nickname'] = '5009'

dfAlt.at[218, 'name'] = 'Donovan Beard'
dfAlt.at[218, 'nickname'] = 'The Highlight Reel'

df.at[2768, 'name'] = 'Dinis Paiva'
dfAlt.at[1769, 'nickname'] = 'Sweetbread'

df.at[1824, 'name'] = 'Dave Kaplan'

df.at[360, 'name'] = 'Daniel Bobish'
df.at[360, 'nickname'] = '5008'
dfAlt.at[276, 'nickname'] = '5008'

dfAlt.at[683, 'name'] = 'Danny Downes'
df.at[937, 'nickname'] = 'Danny Boy'

dfAlt.at[573, 'name'] = 'Cristiane Justino'
dfAlt.at[573, 'nickname'] = 'Cyborg'

df.at[2891, 'name'] = 'Costas Philippou'
df.at[2891, 'nickname'] = '5007'
dfAlt.at[1863, 'nickname'] = '5007'

df.at[2087, 'name'] = 'Chris Ligouri'
dfAlt.at[1491, 'nickname'] = '5006'
df.at[2087, 'nickname'] = '5006'

df.at[835, 'name'] = 'Chris De La Rocha'
df.at[835, 'nickname'] = '5005'
dfAlt.at[611, 'nickname'] = '5005'

df.at[1722, 'name'] = 'Chanmi Jeon'
df.at[1722, 'nickname'] = 'Ottogi Girl'

dfAlt.at[1459, 'nickname'] = '5004'
df.at[2043, 'name'] = 'Chang Ho Lee'
df.at[2043, 'nickname'] = '5004'

df.at[1858, 'nickname'] = '5003'
dfAlt.at[1335, 'nickname'] = '5003'

df.at[258, 'name'] = 'Carlos Baretto'
df.at[258, 'nickname'] = '5002'
dfAlt.at[189, 'nickname'] = '5002'

df.at[2828, 'name'] = 'Carlo Pedersoli'

df.at[2326, 'name'] = 'Bubba McDaniel'
df.at[2326, 'nickname'] = 'The Menace'

df.at[3338, 'name'] = 'Bradley Scott'

df.at[82, 'name'] = 'Benny Alloway'

df.at[330, 'name'] = 'Arjan Singh Bhullar'
df.at[330, 'nickname'] = '5001'
dfAlt.at[2258, 'nickname'] = '5001'

df.at[926, 'name'] = 'Antonio dos Santos'

df.at[1187, 'name'] = 'Anthony Fryklund'

df.at[927, 'name'] = 'Anderson dos Santos'

df.at[1539, 'name'] = 'Alvaro Herrera'

df.at[2367, 'name'] = 'Alton Meeks'
df.at[2367, 'nickname'] = 'Murda'

df.at[47, 'name'] = 'Alexandra Albu'

df.at[788, 'name'] = 'Alex da Silva'

df.at[3060, 'name'] = 'Alessandro Ricci'
df.at[3060, 'nickname'] = '5000'
dfAlt.at[1983, 'nickname'] = '5000'


df.at[3783, 'name'] = 'Alberto Pereira'
df.at[3783, 'nickname'] = 'Uda'

dfAlt.at[833, 'name'] = 'Acacio Dos Santos'
dfAlt.at[833, 'nickname'] = 'Pequeno'

In [30]:
#outer merge the dfs
dfMergedFinal = pd.merge(df, dfAlt, on=['name', 'nickname'], how='outer', indicator=True)
len(dfMergedFinal)

4179

In [32]:
combined = pd.DataFrame(dfMergedFinal.query('_merge == "both"'))
len(combined)

2648

In [35]:
combined.to_csv('combinedCareerSatistics.csv', index=False)